# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# User-specific stuff:
.idea/**/workspace.xml
.idea/codeStyles/
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# CMake
cmake-build-debug/
cmake-build-release/


## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

bin/
shared_libs/
tmp*/
tests_bin/
meshes/*.pts
meshes/human_800_tagged.alg
meshes/mouse.alg
.vscode/
build/
*~
.vs/
*.json
test_headers/erro.txt
test_headers/test_h.c
test_headers/test_h

outputs/
cuboid_tt2004_gpu/
*.ctags
tags
scripts/output
scripts/animations/frames
scripts/animations/video
batch_simulations/
