# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex
*.o
*.so
*.a
*.dll
*.dll.*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# User-specific stuff:
.idea/**/workspace.xml
.idea/codeStyles/
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea

# CMake
cmake-build-debug/
cmake-build-release/
cmake-build-minsizerel/
cmake-build-relwithdebinfo

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

bin/MonoAlg3*
shared_libs/
tmp*/
tests_bin/TestSuite
tests_bin/Test*
tests_bin/.TestSuite*
tests_bin/ToyTest
tests_bin/circle_cg*
tests_bin/gold_tmp*
tests_bin/test_*
tests_bin/*Profiler
tests_bin/purkinje_ode_cpu/
tests_bin/purkinje_ode_gpu/
tests_bin/sim_mesh_cg_cpu_ode_gpu
tests_bin/sim_mesh_cg_gpu_ode_gpu

meshes/*.pts
meshes/*.mesh
meshes/human_800_tagged.alg
meshes/mouse.alg
.vscode/
build/
*~
.vs/
*.json
test_headers/erro.txt
test_headers/test_h.c
test_headers/test_h

outputs/
results/
cuboid_tt2004_gpu/
*.ctags
tags
scripts/output
scripts/animations/convert_png_to_mp4.sh
scripts/animations/frames
scripts/animations/drop_zone
scripts/animations/videos
scripts/animations/videos/*.mp4
scripts/apd_error/*.png
scripts/mesh-converter
scripts/traces/*
scripts/plot_comparison_potential.py
scripts/trace_plot.py
batch_simulations/
/src/main_graph_analyzer.c
tests_bin/simulation_result.pvd
build_*/
src/3dparty/raylib/src/rnet.c.review
src/3dparty/raylib/src/shell.html
src/3dparty/raylib/src/stZ2ziky
GPATH
GRTAGS
GTAGS

generate_ini_with_configuration_and_run_simulation.sh
ICs_50configs.txt
ICs_1000configs.txt
src/3dparty/raylib/src/stZDHlko
src/3dparty/raylib/src/stzKLdHA
src/3dparty/raylib/src/config.h.in
src/3dparty/raylib/src/external/glfw/.mailmap
src/3dparty/raylib/src/external/glfw/CMake/Info.plist.in
src/3dparty/raylib/src/external/glfw/CMake/cmake_uninstall.cmake.in
src/3dparty/raylib/src/external/glfw/CMakeLists.txt
src/3dparty/raylib/src/external/glfw/src/CMakeLists.txt
src/3dparty/raylib/src/external/glfw/src/glfw.rc.in
src/models_library/private_models
*/.*last_compiled_time_bbash

perf.data*
.clangd/
*.swp

meshes/VF_20120221_toBlanca-newCGAL1.vtu
meshes/human_500_new.alg
meshes/human_800_new.alg
meshes/atrial_mesh*
meshes/ModVent_PAP_500um.alg
meshes/elizabeth*
meshes/convertor.py
meshes/HCM_mesh_400um.alg
meshes/HCM_mesh_400um.alg.fibers
meshes/HCM_mesh_500um.alg
meshes/HCM_mesh_500um.alg.fibers
meshes/dogheart_500um.alg

networks/sebastian*
networks/elizabeth*
networks/elnaz*
networks/model_zero*

/src/models_library/elnaz_models

example_configs/atrial_mesh_start_500um.ini
example_configs/atrial_mesh_start_500um_27n.ini
example_configs/rafa_sebastian*
example_configs/elnaz*
example_configs/elizabeth*
example_configs/model_zero*

/meshes/scv.alg
/src/3dparty/raylib/src/stbTAvvG
.idea/inspectionProfiles/Project_Default.xml
scripts/calc_apd_full_grid/aps/test
scripts/calc_apd_full_grid/output/test
scripts/tuneCV/build/*
scripts/tuneCV/bin/*
scripts/tuneCV/configs/*
scripts/tuneCV/outputs/*
private_models/
src/*/custom_functions.c
src/*/custom_functions_BACKUP.c
src/*/custom_functions.h

.cache/
.ccls-cache/

.idea/modules.xml
example_configs/atrial_mesh_start_500um_27n_LA_RA.ini
example_configs/scv_mesh_small.ini
local_meshes/
local_networks/
sync.sh
sync_local.sh
sync_outputs.sh
private_configs/
/src/domains_library/custom_mesh_info_data.h
retired_code/
*.gcno
*.gcda
export_report.sh
report.xml
/gmon.out
UU_49900.dat
VV_49900.dat
.#*#
*.build_type*
/ecg.txt
__pycache__/
